<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Brand Detection</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <img src="<%= img%>" alt="User Image" />


<!-- <ul>
  <% for (let i=0; i<brands.length; i++) { %>
    <li>
      <%=brands[i].name%>
        <%=brands[i].confidence.toFixed(2)%> confidence
    </li>
    <% if( brands.length> 0) { %>
      <h1>
        <%=brands[i].name%> is the brand!
      </h1>
      <h1>
        <%=brands.length%> is the length
      </h1>
      <% } else if ( brands.length==0) { %>
        <h1>there is no brand!</h1>
        <% } %>
          <% } %>
</ul> -->





    <ul>
      <% for (let i = 0; i<brands.length; i++) { %>
        <li><%=brands[i].name%> <%=brands[i].confidence.toFixed(2)%> confidence</li>
        <% if( brands.length > 0) { %>
          <h1>
            <%=brands[i].name%> is the brand!
            <%=brands.length%> is the length
          </h1>
        <% } else{ %>
          <h1>
            <%=brands[i].error_message%>
          </h1>
         <% } %>
      <% } %>
    </ul>


    <form action="/" enctype="multipart/form-data" method="post">
      <input type="file" name="file-to-upload" />
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
